/* this is img topbar */
.header-image {
    text-align: center;
    margin-bottom: 30px;
}

.header__img img{
    width: 20%;
    margin-top: 20px;
}

/* ตู้หัวข้อ */
.header-container{
    margin: auto;
    text-align: center;
    max-width: 60%;
}

/* หัวข้อ1 */
.header-title{
    display: inline-block;
    border: 2px solid black;
    border-radius: 20px;
    width: 750px;
}

.header-title:hover{
    background-color: rgb(0, 0, 0);
    color: #ffffff;
}


    /* รูปตึก */
.header-container img{
    object-fit: cover;
    max-width: 60%;
    margin-top: 40px;
}

.header-title1 {
    font-size: 25px;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 70px;
}   

/* หัวข้อ 4 รูปบน */
.title{
    display: flex;
    justify-content: space-evenly;

    .rack{
        margin-top: 50px
    }

    .Child-title1{   
        text-align: center;
        font-size: 18px;
        /* border: solid red; */
    }

    .Child-title2{
        text-align: center;
        /* border: solid red; */
    }
}

/* ตารางบนสุด */
.tarang{
    width: auto;
    margin-top: 10px;
}

/* ตารางทั้งหมด */
.box{
    width: 30%;
    height: 500px;
    /* border: solid rgb(5, 1, 1); */
    padding: 20px;

    .tabel-h2{
        /* border: solid chocolate; */
        text-align: center;
        margin-bottom: 20px;
        margin-top: 20%;
    }  
    
    /* ตารางบนสุด */
    table,td,th{
    width: auto;
    border-collapse:collapse ;
    background-color: #fcf8e6;
    text-align: center;
    
    .box2{
        justify-content: center;
        border: solid chocolate;
    }
}

/* ตารางชั้น 5-10 */
}
    table{
        border-collapse:collapse ;
        background-color: #fcf8e6;
        margin-top: 10px;
    }    

    th{
      height: 70px;
      font-size: 18px;
      padding: 10px;
    }

    td{
        height: 60px;
        text-align: center;
    }

    table,th,td{
        border: solid #000000 2px;
        margin-top: 250px;
    }

    tr:hover {
        background-color: #f5eabc;
    }

.header-details{
    font-size: 25px;
    text-align: center;
    margin-top: 150px;
    margin-bottom: 20px;
}

.floor{
    /* border: solid rebeccapurple; */
    width: 100%;
    display: inline-flex;
    justify-content: space-evenly;

    .floor__img img{
        width: 700px;
        
    } 

}

.header-total{
    /* border: solid rebeccapurple; */
    font-size: x-large;
    text-align: center;
    margin-top: 40px;

}

.Total{
    /* text-align: center; */
    display: flex;
    justify-content: space-around;
    
}

/* ตารางรวม */
.table__total{
    width: fit-content;
    height:fit-content;
    border-collapse: collapse;
    background-color:#f1f1f1;
    margin-top: 70px;

    .table,th,td{
         border: solid #000000 2px;
    }

    .note__list{
        text-align: left;
    }

    .Channel2{
        text-align: left;
        padding-left: 10px;
    }

    th{
        height: 70px;
        font-size: 18px;
        padding: 10px;
    }

    td{
        height: 60px;
        text-align: center;
        padding: 10px;
    }

    tr:hover {
        background-color: #e4e4e4;
    }
}
/* รายละเอียดค่าแรง */
.wage{
    /* border: solid 1px rgb(197, 197, 197) ; */
    margin-top: 100px;
}

.wage img{
    object-fit: cover;

    /* text-align: center; */
    /* width: 110%; */
}

.srup{
    margin: 20px;
    margin-top: 50px;
}
/* this is a footer */
footer{
    background-color: #000000;
    color: #ffffff;
    margin-top: 250px;
}

.footer__box1{
    display: flex;
    justify-content: space-evenly;
}

.footer__RMUTS{
    text-align: center;
    margin-top: 4%;

}

.footer__num{
    font-size: 16.2px;
}




